:root {
  --t: 255;
  --app-bg: #020713;
  --app-bg-highlight: #062161;
  --app-c: #ffffff;
  --app-c-alt: #bbbbc9;
  --c-link: #9062db;

  /* --t: 0;
  --app-bg: #ffffff;
  --app-bg-highlight: #e5ecfa;
  --app-c: #111010;
  --app-c-alt: #505055;
  --c-link: #743cce; */
}

:root {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--app-bg);
  color: var(--app-c);
}

body {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Space mono has some weird ligatures */

* {
  font-variant-ligatures: none;
}

*::selection {
  background: var(--app-bg-highlight);
}

code {
  font-family: "Space Mono", monospace;
  color: var(--app-c-alt);
}

pre {
  box-sizing: border-box;
  padding: 15px 19px;
  background-color: rgba(var(--t), var(--t), var(--t), 0.05);
  border-radius: 8px;

  overflow: auto;
}

main {
  margin: 8vw auto;
  width: 92%;
  max-width: 900px;
}

p {
  color: var(--app-c-alt);
  line-height: 1.67;
  font-size: 1.1rem;
}

ul, li {
  color: var(--app-c-alt);
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

a {
  position: relative;
}

a:after, a:before {
  position: absolute;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(var(--t), var(--t), var(--t), 0.1);
}

a:after {
  width: 0;
  background-color: currentColor;
}

a:hover:after {
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

blockquote {
  font-size: 1.3rem;
  border-left: solid 2px rgba(var(--t), var(--t), var(--t), 0.2);
  margin-left: 0;
  padding-left: 20px;
}
/* Bars */

.bars {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: flex-end;
  overflow-x: auto;
}

.bars>div {
  text-align: center;
  margin: 0 0.2em;
}

.bars>div::before {
  content: "";
  display: block;
  width: 40px;
  margin: 0 auto 5px;
  height: calc(40vh * var(--v, 1) / var(--max, 1));
}

.bars>div::after {
  content: var(--l);
  display: block;
}

/* styles */

.bars>div::before, .hbars>div::after {
  border-radius: 5px;
  background: var(--c, var(--c-link));
}

.bars>div::after, .hbars>div::before {
  color: var(--app-c-alt);
}

.hbars div {
  margin: 5px 0;
}